<p>certification works!</p>
<div class="all">
    <h3>EDUCATION</h3>
<ul style="color: black;font-weight: bolder; text-align: center;font-size: 15px">
    Federal university of Agriculture, Abeokuta, Ogun state. (2015-2021).
    Qualification : Bachelor of Forestry and Wildlife Management (Forestry Option). Second class upper. (Hons).
    <br><br>
    Federal science and technical college Yaba, Lagos. (2011-2014)
    Qualification : O levels
</ul>
<hr>
<h3>SKILLS AND CERTIFICATION</h3>
<ul style="color: black;font-weight: bolder; text-align: center; font-size: 15px">
    Expert use of computer software such as Microsoft excels, word, PowerPoint.<br><br>
    Use of corel draw for graphics design.<br><br>
    Use of Webflow for web design.<br><br>
    Great communications and organizing skills.<br><br>
    Dependable and responsible.<br><br>
    Hardworking.<br>
</ul>
<br><hr>
<h3>INTEREST AND ACTIVITIES</h3>
<ul style="color: black;font-weight: bolder; text-align: center;font-size: 15px">
    Sporting activities.<br><br>
    Intellectual and Self-development.<br><br>
    Designing.<br><br>
    Making research on new techniques and technology.
</ul>
</div>